# MongoDB
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/neurosense

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1h

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password

# App
PORT=3000
APP_NAME=NeuroSense

# Python ML Microservice
ML_SERVICE_URL=http://localhost:8000
